@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

body{
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

h1{
    font-size: 2.5rem;
    padding: 1.5rem;
    font-weight: 900;
    margin: 0 1rem;
    color: #28283D;
    

}

h2{
    color: #4D96A9;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    color: #28283D;
}

p{
    color: #87879D;
}

#logo{
    width: 30%;
    height: 30%;
    margin: 0 auto;
    margin-top: 3em;
}

#imghero{
    margin-top: 3em;
   
}

.groupchat{
   text-align: center;
   padding: 1rem;

    
}
.groupchat p{
    margin: 0 1.3rem;
}

.btns{
    margin-top: 2rem;
}

.first{
    background-color: #4D96A9;
    border: none;
    color: whitesmoke;
    border-radius: 30px;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 60%;

}

.second{
    background-color: #855FB1;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 45%;

    
}

#green{
    color: #8FE3F9;
    font-size: 1rem;
    font-weight: 600;
}

#num{

    border: 1px solid #87879d83;
    font-size: 1rem;
    font-weight: 900;
    color: #87879D;
    width: 60px;
    height: 60px;
    border-radius: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 1px;
    height: 80px;
    background-color: #87879d83;
    

}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagecont img {
    width: 47%;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;

}

.imagecont{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.use{
    padding: 2rem;
    text-align: center;

}

.use h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#numtwo{

        border: 1px solid #87879d83;
        font-size: 1rem;
        font-weight: 900;
        color: #87879D;
        width: 60px;
        height: 60px;
        border-radius: 5000px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
    }


    .last{
    background-color: #855FB1;
    border: none;
    color: whitesmoke;
    border-radius: 30px;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 60%;

    }
.lastnote{
    text-align: center;
    
    
}

.lastnote h3{

    color: whitesmoke;
    margin: 1rem 0;
   
    
}

.lastnote p{
    padding:  0 2rem;
    color: whitesmoke;
    margin-bottom: 1rem;
   
}

#purple{
    color: #D9B8FF;
}

.lastbtn{
    margin-top: 1rem;
}

.btmcont{
    background-color: #4D96A9;
    background-image: url(/assets/mobile/image-footer.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
}

@media(max-width: 332px){

    .imagecont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagecont img {
        width: 100%;


}

}

@media(min-width: 768px){
    .btns{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
    }

   

    .first{
        width: 40%;
    

    }

    .second{
        width: 30%;
    }

    .btmcont{
        background-image: url(assets/tablet/image-footer.jpg)
        
    }

    .last{
        width: 30%;
        
    }

    .imagecont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .imagecont img {
        width: 20%;


}

@media(min-width: 1440px){
    .btmcont{
        background-image: url(/assets/desktop/image-footer.jpg)
    }

    .lastnote{
        display: flex;
        padding: 2rem;
    }

    .lastnote h3{
        flex-basis: 20%;
        text-align: left;

    }

    .lastnote p{
        flex-basis: 20%;
        margin-top: 1rem;
        font-size: 1.4rem;
        padding: 0 6rem;


    }

    .last{
        flex-basis: 50%;
        width: 30%;
        height: 40%;
        margin-top: 1rem;
    }



   
}

